<div class="spreadsheet" [hidden]='headerBar.numberOfColumns === 0' [ngStyle]="{'grid-template-columns': 'repeat(' + (headerBar.numberOfColumns || 0) + ', minmax(max-content, auto))'}">
  <ng-container>
    <ng-content select="app-ss-header-bar"></ng-content>
    <ng-content select="app-ss-row"></ng-content>
    <ng-content select="app-ss-totals"></ng-content>
    <div class="footer">
      <ng-content select="app-ss-footer"></ng-content>
    </div>
  </ng-container>
</div>
<div *ngIf="!headerBar.numberOfColumns">
</div>
