.spreadsheet {
  display: grid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #dde1e3;
  grid-gap: 1px;
  padding: 1px;
}

.footer {
  grid-column: 1 / -1;
}
